<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head lang="en">
  <meta charset="UTF-8" />
  <title>Redis OM Spring Autocomplete Demo</title>
  <link rel="stylesheet" href="/built/bundle.css" />
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>

  <div class="example-header p-3 pb-md-4 mx-auto text-center">
    <h4 class="display-4 fw-normal">Redis Autocomplete</h4>
    <p class="fs-5 text-muted">Powered by RediSearch auto-complete engine.</p>
  </div>

  <div class="container">
    <br />
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="col-auto">
          <i class="fas fa-search h4 text-body"></i>
        </div>
        <!--end of col-->
        <div class="col">
          <div id="react"></div>
        </div>
      </div>
      <!--end of col-->
    </div>
    <br />
  </div>

  <script src="/built/bundle.js"></script>

</body>

</html>